<section id="portfolio">
    <div class="container">
        <h2><i class="fa-solid fa-laptop-code"></i> My <span class="heading-color">Portfolio</span></h2>
        <hr>

        <div class="row">

            <div class="item" *ngFor="let project of projects">
                <img [src]="'http://localhost:3000/files/'+project.image" alt="Weather project" loading="lazy">
                <div class="item-content">
                    <h3>{{project.title}}</h3>
                    <a [href]="project.link" target="_blank">Visit Website</a>
                </div>
            </div>

        </div>
    </div>
</section>
