 <section id="contact">
                <div class="container">
                   <h2><i class="fa-solid fa-headset"></i> Get In <span class="heading-color">Touch</span></h2>
                   <hr>
                   <div class="row">
                    <img src="contact.jpg" alt="Get In Touch illustration" loading="lazy">
                    <form action="https://formsubmit.co/salmamahmoudd@gmail.com" method="POST">
                        <input type="text" name="Name" id="Name" placeholder="Name" required>
                        <input type="email" name="Email" id="Email" placeholder="Email" required>
                        <textarea name="Message" id="Message" cols="30" rows="10" placeholder="Message"></textarea>
                        <button type="submit" class="button">Submit</button>
                    </form>
                   </div>
                </div>
            </section>