 <section id="about">
           <div class="container">
            <h2>About Me</h2>
            <hr>
            <div class="about-contant row justify-content-center align-items-start mt-4">
                <div class="col-md-8 d-flex flex-column justify-content-center">
                 <h3>I'm <span class="heading-color">Salma Mahmoud,</span> a web developer</h3>
                 <p>I'm a front-end web developer with a strong passion for creating visually appealing and user-friendly web applications. I am very passionate about improving my coding skills & developing applications & websites.
                 </p>
                 <p>
                 I have also goined a solid foundation in HTML, CSS and JavaScript. I am always eager to learn new technologies and techniques to enhance my skillset.
                 </p>
                </div>
                <div class="col-md-4 d-flex flex-column justify-content-center">
                  <p><b>Age:</b> 24</p>
                  <p><b>Email:</b> <a href="mailto:salmamahmoudd@gmail.com">salmamahmoudd@gmail.com</a></p>
                  <p><b>Place:</b> 15 May - Egypt</p>
                </div>
            </div>
           </div>
       </section>